<div class="heading">
    <h1> 🌷בדיקות סקר - להקדים תרופה למכה</h1>
    <h4 class="pb-5">גילוי מוקדם של מחלות במצב סמוי הוא המפתח להצלחת הטיפול. אל תחכו לתסמינים – גשו עכשיו להיבדק
    </h4>
</div>

<div [ngClass]="{'articleContent': !isSmallScreen}" class="px-5">
    <div [ngClass]="{'articleImg': !isSmallScreen}">
        <p>
            ד"ר ג’ון לוק ברמי
        </p>
        <div [ngClass]="{'container': !isSmallScreen}">
            <div [ngClass]="{'column-left': !isSmallScreen}">
                <p>בדיקות סקר הן בדיקות תקופתיות מומלצות, הנקבעות בהתאם לגיל, למגדר ולהיסטוריה המשפחתית.
                    את הבדיקות הללו מבצעים גם כשמרגישים טוב, אפילו כשמרגישים נפלא, במטרה לאפשר גילוי מוקדם של מחלות במצב
                    סמוי, עוד
                    טרם הופעת תסמינים. מתוך הבנה שזיהוי וגילוי מוקדמים כל כך הניתן, מאפשרים טיפול יעיל יותר ומגדילים
                    משמעותית את סיכויי
                    הריפוי.</p>
            </div>
            <div [ngClass]="{'column-left': !isSmallScreen}">
                <img [ngClass]="{'articleImg': !isSmallScreen}" rel="" src="assets/images/screening-article.jpeg"
                    title="בדיקות סקר - להקדים תרופה למכה " alt="בדיקות סקר - להקדים תרופה למכה ">
            </div>
        </div>


        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

        <h5>אל תחכו לתסמינים &ndash; בקשו מהצוות הרפואי הנחיות לגבי ביצוע בדיקות הסקר המומלצות
            עבורכם&nbsp;&nbsp;</h5>
        המטרה של רובנו היא לשמור על הבריאות שלנו בהווה, ולמנוע מחלות בעתיד. בדיקות סקר נעשות&nbsp;אחת לשנה/לכמה שנים,
        בהתאם
        לגיל, למין ולהיסטוריה המשפחתית, במטרה למנוע מחלות באמצעות גילוי מוקדם.<br />
        מדובר במחלות שלא מרגישים בהן ושאין להן תסמינים חיצוניים. למעשה, כשמתחילים להרגיש כאלה - זה עלול להיות מאוחר מדי
        וההשלכות הבריאותיות עלולות להיות מרחיקות לכת. גילוי מוקדם מאפשר טיפול יעיל יותר ומגדיל משמעותית את סיכויי
        הריפוי.&nbsp;<br />
        מרבית הבדיקות מבוצעות ללא תשלום כחלק מסל הבריאות. במסגרת הביטוח המשלים הוסיפה לאומית בדיקות נוספות לללקוחות
        לאומית
        כסף וזהב המתבצעות ללא תשלום או בתשלום מופחת.&nbsp;<br />
        ריכזנו עבורכם רשימה של בדיקות סקר תקופתיות מומלצות.&nbsp;<br />
        <em>חשוב! בדיקות הסקר מומלצות כשגרה בהתאם לגיל ולמגדר לאלה שאינם בסיכון מוגבר. אם אתם נמצאים בקבוצות סיכון
            מיוחדות,
            כמו מחלות לב או סרטן במשפחה, עליכם להתייעץ עם רופא המשפחה לגבי התדירות המומלצת עבורכם לביצוע בדיקות אלה
            ובדיקות
            נוספות.</em>
        <br><br>

        <h5>מעקב לחץ דם</h5>
        לחץ דם גבוה (המכונה גם יתר לחץ דם) מעיד על תנגודת גבוהה בעורקי הגוף, ועלול להחמיר את תהליך הטרשת בהם. טרשת שאינה
        מאובחנת ומטופלת בזמן עלולה להתפתח לחסימה קשה או מוחלטת בעורקים ולנזקים באיברים שהם מובילים אליו את הדם, דבר
        שעלול
        לגרום לבעיות כגון - קשיי תפקוד והליכה, ירידה בראייה עד עיוורון, ירידה בתפקוד הכלייתי, ואף שבץ והתקף לב. לחץ דם
        נמוך,
        אגב, אינו נחשב למחלה.&nbsp;<br />
        <strong>מהלך הבדיקה:</strong> הכי פשוט שיש - מדידת לחץ דם באמצעות מד לחץ.&nbsp;<br />
        <strong>מי צריך לעשות ומתי:</strong> בני 6 עד 20 &ndash; פעם אחת. בני 20-29 פעם ב- 5 שנים, בני 30-39 פעם ב- 3
        שנים,
        בני 40 ומעלה - פעם בשנה עד שנתיים בהתאם לתוצאות המדידות.<br />
        במקרה שאותר יתר לחץ דם יש לפנות לרופא ולבצע מעקב לעתים תכופות יותר על־פי הנחיותיו, וטיפול לפי הצורך.&nbsp;<br />
        <strong>כיסוי:</strong> סל הבריאות.
        <br><br>

        <h5>בדיקת שומנים בדם&nbsp;</h5>
        מדובר בבדיקה שמודדת את רמת הכולסטרול והטריגליצרידים בדם. הטריגליצרידים וה&quot;כולסטרול הרע&quot; (LDL) עלולים
        להוביל להתפתחות של טרשת עורקים, ולכן רמה גבוהה שלהם מחייבת התייחסות טיפולית.<br />
        <strong>מהלך הבדיקה: </strong>בדיקת דם פשוטה שלפניה תידרשו להיות בצום בין 8 ל־12 שעות. &nbsp;<br />
        <strong>מי צריך לעשות ומתי:</strong> פעם בחמש שנים בין גילאי 35-65 וחד פעמי לאחר גיל 65.&nbsp;<br />
        במקרה של היסטוריה משפחתית, כלומר אירועים המעידים על פגיעה בכלי דם (כמו שבץ או התקף לב) בקרובים מדרגה ראשונה
        (הורים
        או אחים ואחיות) מתחת לגיל 60 - יש לעקוב אחת לשנה.<br />
        <strong>כיסוי:</strong> סל הבריאות.
        <br><br>

        <h5>מדידת סוכר בדם (גלוקוז)&nbsp;</h5>
        סוכרת מסוג 2 הפכה למגיפה של החיים המודרניים ומושפעת מהשמנת יתר, מאכילה מרובה של סוכרים ומהיעדר פעילות גופנית.
        מחלת
        הסוכרת גורמת לנזקים לאיברים שונים &ndash; לב, מוח, עיניים, כליות ואיברים היקפיים. השתנת יתר, צימאון הולך ומתגבר
        ותחושות נמלול בקצות הגוף עשויים לרמז על התפתחות סוכרת, אך הבדיקה הפשוטה הזו, בדיקת סוכר בצום של 8 שעות יכולה
        לאתר
        אותה עוד בטרם הופיעו הסימנים הראשונים.<br />
        <strong>מהלך הבדיקה:</strong> בדיקת דם פשוטה בצום 8 שעות.<br />
        <strong>מי צריך לעשות ומתי:</strong> מגיל 45 ומעלה &ndash; אחת לשלוש שנים. לאנשים הסובלים ממשקל עודף, וכאלה
        שבמשפחתם
        מקרי סוכרת בקרובים מדרגה ראשונה מומלץ להיבדק אחת לשנה.&nbsp;<br />
        <strong>כיסוי:</strong> סל הבריאות.
        <br><br>

        <h5><a href="https://www.leumit.co.il/heb/Life/FamilyHealth/familyhealth/articlegalleryitem,2791/">בדיקת דם סמוי
                בצואה&nbsp;</a></h5>
        לפי נתוני האגודה למלחמה בסרטן סרטן המעי הגס הוא הגידול השני בשכיחותו בקרב האוכלוסייה בישראל. הוא מופיע בשיעור
        דומה
        אצל גברים ונשים. בישראל מאובחנים מידי שנה כ-3,200 חולים חדשים בסרטן המעי הגס והחלחולת, בכל הגילים.סרטן המעי הגס
        שכיח
        במיוחד מעל גיל 50. גילוי המחלה בשלב מוקדם מגביר את הסיכויים להחלמה לכ- 90%<br />
        <strong>מהלך הבדיקה:</strong> תידרשו לתת דגימת צואה למעבדה באמצעות ערכה מיוחדת.&nbsp;<br />
        <strong>מתי וכמה:</strong>&nbsp;אחת לשנה בין גילאי 50 ל- 75 &nbsp;<br />
        <strong>כיסוי:</strong> סל הבריאות.
        <br><br>

        <h5>בדיקת קולונוסקופיה&nbsp;</h5>
        גם היא בדיקה שנועדה לאתר את סרטן המעי הגס, אך בניגוד לקודמתה היא מדויקת יותר.&nbsp;<br />
        <strong>מהלך הבדיקה:</strong> זוהי בדיקה פולשנית ובמהלכה מוכנס צינור לפי הטבעת לצורך הסתכלות.<br />
        <strong>מי צריך לעשות ומתי:</strong> את הבדיקה מומלץ לעשות החל מגיל 50 או בהתייעצות עם רופא המשפחה.&nbsp;לקוחות
        בסיכון גבוה לחלות בסרטן מעי הגס יש להתייעץ עם הרופא המטפל.&nbsp;<br />
        <strong>כיסוי:</strong> סל הבריאות.
        <br><br>

        <h5><a href="https://www.leumit.co.il/heb/Life/womenshealth/Articles/articlegalleryitem,3588/">בדיקת
                ממוגרפיה&nbsp;</a></h5>
        מיועדת לאיתור מוקדם של סרטן השד.<br />
        <strong>מהלך הבדיקה: </strong>צילום של השדיים.<br />
        <strong>מי צריך לעשות ומתי: </strong>נשים בנות 50 עד 75 &ndash; אחת לשנתיים. נשים שבמשפחתן הקרובה מקרים של סרטן
        השד
        (אם, אחות או אחות של האם), מוגדרות כבעלות סיכון גבוה ועליהן ליידע את הרופא מגיל צעיר ולבצע בדיקות בהתאם
        להנחיותיו.&nbsp;<br />
        <strong>כיסוי:</strong> מגיל 50 ומעלה &ndash; סל הבריאות. נשים בסיכון גבוה &ndash; חינם. לפני כן &ndash; כיסוי
        במסגרת לאומית כסף וזהב.
        <br><br>

        <h5><a href="https://www.leumit.co.il/heb/Life/womenshealth/Articles/articlegalleryitem,3626/">משטח צוואר
                הרחם</a>
        </h5>
        בדיקת משטח צוואר הרחם, HPV, מאתרת את הימצאות נגיף הפפילומה מעל הסף הקליני ומבדלת את זן הנגיף. הבדיקה חדשנית
        ורגישה
        ברמה של 92% ומשמשת כקו ראשון לאיתור וגילוי מוקדם של תאים טרום סרטניים וסרטן של צוואר הרחם. בדיקת&nbsp; HPV PCR
        cervical screen מחליפה את בדיקת הפאפ (בדיקת PAP Smear).&nbsp;<br />
        <strong>מהלך הבדיקה:</strong> לקיחת משטח מהנרתיק על ידי רופא נשים.<br />
        <strong>מי צריך לעשות ומתי:</strong> נשים בנות 25 עד 54 - אחת לשלוש שנים. גם כאן, נשים בקבוצת סיכון גבוה נדרשות
        ליידע את הרופא ולבצע את הבדיקה בהתאם להנחיותיו.&nbsp;
        <br><br>

        <h5>צפיפות עצם</h5>
        מחלת התפוררות העצם (אוסטיאופורוזיס) גורמת לשברים באנשים מבוגרים המלווים לעתים בסיבוכים לא פשוטים.&nbsp;<br />
        <strong>מהלך הבדיקה:</strong> צילום של כל עצמות הגוף בעמידה.&nbsp;<br />
        <strong>מי צריך לעשות ומתי:</strong> נשים וגברים בסיכון מוגבר לפי ייעוץ רופא, נשים בגיל 65 ומעלה אחת לחמש
        שנים.&nbsp;<br />
        <strong>כיסוי:</strong> לפני גיל 60 &ndash; מכוסה במסגרת לאומית כסף וזהב. מגיל 60 &ndash; מכוסה במסגרת סל
        הבריאות.&nbsp;
        <br><br>

        <h5>בדיקת עיניים</h5>
        בדיקת עיניים פשוטה נועדה לאבחן בעיות של ליקויי ראייה הגורמים בעיקר לפגיעה באיכות החיים. בדיקת קרקעית העין, לעומת
        זאת, יכולה לאבחן היצרות מוקדמת של כלי דם, שעלולים להיות סימן ליתר לחץ דם, עודף שומנים בדם, סוכרת, ומחלת
        הגלאוקומה
        &ndash; יתר לחץ בעיניים.<br />
        <strong>מהלך הבדיקה:</strong> בדיקת הראייה מתבצעת על ידי רופא עיניים באמצעות זיהוי אותיות ומספרים ממרחק בכל אחת
        מהעיניים, וכן באמצעות מכשיר הבודק את העיניים מקרוב. בבדיקת קרקעית העין הרופא יטפטף לעיניים טיפות מיוחדות ויבדוק
        אותן
        במכשיר לאחר כשעה. בדיקה זו גורמת לטשטוש הראייה למשך שלוש עד ארבע שעות. &nbsp;<br />
        <strong>מי צריך לעשות ומתי:</strong> עד גיל 40 &ndash; פעם אחת. בני 40 עד 65 &ndash; אחת לשנתיים. בני 65 ומעלה
        &ndash; אחת לשנה.<br />
        <strong>כיסוי:</strong> סל הבריאות.
    </div>
</div>


<div id="ctl00_ctl00_MainSectionBase_MainSection_Article1_divMoreArtcles" [ngClass]="{'moreArticles': !isSmallScreen}">

    <div id="ctl00_ctl00_MainSectionBase_MainSection_Article1_outbrainMoreArcticles">
        <div data-src="https://www.leumit.co.il/heb/Life/FamilyHealth/familyinfo/articlegalleryitem,451/"
            class="OUTBRAIN"></div>
        <script
            type="text/javascript">(function () { window.OB_platformType = 8; window.OB_langJS = "http://widgets.outbrain.com/lang_he.js"; window.OBITm = "1422442647668"; window.OB_recMode = "brn_strip"; var ob = document.createElement("script"); ob.type = "text/javascript"; ob.async = true; ob.src = "http" + ("https:" === document.location.protocol ? "s" : "") + "://widgets.outbrain.com/outbrainLT.js"; var h = document.getElementsByTagName("script")[0]; h.parentNode.insertBefore(ob, h); })();</script>
        <input type="hidden" name="OBKey" value="gm6aHXp4bV8LvTqlzy7XzQ==" />
        <script LANGUAGE="JavaScript">var OBCTm = '1422955026686'; </script>
        <script LANGUAGE="JavaScript" src="http://widgets.outbrain.com/claim.js"></script>
    </div>
</div>

<div class="ddblock"></div>








