<div class="heading flex justify-center align-middle">
    <img src="assets/images/logo.png" class="logoImg h-40" alt="">
    <h1>מאמרים</h1>
</div>

<!-- Articles -->
<div class="articles">
    <div class="cardContainer">
        <div class="card">
            <img class="card-img-top" rel="" src="assets/images/screening-article.jpeg">
            <div class="card-body">
                <h5 class="card-title">בדיקות סקר-להקדים תרופה למכה</h5>
                <p class="card-text"> גילוי מוקדם של מחלות במצב סמוי הוא המפתח להצלחת הטיפול. </p>
                <a routerLink="/article-one" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/run1.jpg">
            <div class="card-body">
                <h5 class="card-title">היכון הכן רוץ!</h5>
                <p class="card-text">אימון אירובי למען הבריאות שלך.</p>
                <a routerLink="/article-two" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/cognition-article.jpg">
            <div class="card-body">
                <h5 class="card-title"> אימון קוגניטיבי</h5>
                <p class="card-text">כמו הגוף,גם את המוח אסור להזניח.</p>
                <a routerLink="/article-three" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/skin-care-article.jpg">
            <div class="card-body">
                <h5 class="card-title">הקרם באמת יצעיר אותי? </h5>
                <p class="card-text">מדריך לחומרים הפעילים המשפיעים על עור הפנים.</p>
                <a routerLink="/article-four" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/computer-article.jpeg">
            <div class="card-body">
                <h5 class="card-title">אתם ועמדת המחשב </h5>
                <p class="card-text">פינת העבודה של המאה ה-21.</p>
                <a routerLink="/article-fifth" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/eye-article.jpg">
            <div class="card-body">
                <h5 class="card-title">שומרים על בריאות העיניים</h5>
                <p class="card-text">כמה צעדים פשוטים לשמירה על בריאות העיניים.</p>
                <a routerLink="/article-sixth" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/bp-article.jpg">
            <div class="card-body">
                <h5 class="card-title">6 דרכים להוריד את לחץ הדם</h5>
                <p class="card-text">
                    תרופות, תזונה ואולי בכלל ספורט? איך ניתן להוריד את לחץ הדם?</p>
                <a routerLink="/article-seventh" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/images/smell-article.jpg">
            <div class="card-body">
                <h5 class="card-title"> איך נפטרים מריח רע מהפה?</h5>
                <p class="card-text">יש לנו טיפים קלים לביצוע שיעזרו לכם לטהר את
                    האווירה</p>
                <a routerLink="/article-eighth" class="btn btn-primary">למידע נוסף</a>
            </div>
        </div>
    </div>
    <!-- End articles -->

