<div class="heading">
    <h1> 🌷
        שומרים על בריאות העיניים </h1>
</div>

<div class="articleContent px-5">
    <div class="articleImg">
        <div class="xl:flex block xl:flex-wrap">
            <div class="column-left">
                <p>
                    העין היא איבר חישה חשוב שמן הראוי לא להזניח את בריאותו. הצעד הראשון היא בדיקת עיניים שגרתית, אחת
                    לשנתיים, ובמצבים רפואיים דוגמת סוכרת, לחץ דם גבוה או מחלת עיניים, לעיתים תדירות יותר. גם כול שינוי
                    במצב הראייה מחייב בדיקת עיניים.
                </p>
            </div>
            <div class="column-right">
                <img class="articleImg" rel="" src="assets/images/eye-article.jpg">
            </div>
        </div>
        <br><br>
        <h4>אורח חיים שמסייע לשמירת בריאות העין</h4>
        <br>
        <h5> הימנעו מעישון</h5>
        מעשנים עלולים ללקות יותר משאר האוכלוסייה במחלות עיניים דוגמת קטרקט וניוון מרכז הראייה ולכן מומלץ להפסיק לעשן.
        בנוסף, צריכת אלכוהול כבדה קשורה לסיכון מוגבר ללקות בגיל מוקדם יחסית בניוון מרכז הראייה (ניוון מקולרי).
        <br><br>

        <h5> הצטיידו במשקפי שמש</h5>
        אין להביט ישירות בשמש, גם בעת ליקוי חמה. הבטה ישירה בשמש עלולה לגרום לנזק בלתי הפיך ולהוביל לעיוורון וככלל חשיפת
        העיניים לאור השמש מגבירה סיכון לקטרקט. הפיתרון הוא בעיקר שימוש במשקפי שמש בעלות עדשות כהות עם סינון קרניים
        אולטרסגוליות (גם לילדים).
        <br><br>

        <h5> שמרו על ניקיון העין</h5>
        יש להקפיד על הסרת איפור עיניים (מסקרה, עיפרון עיניים) לפני השינה ואין להביא במגע עם העין עצמה קרם עיניים קוסמטי
        (מריחה רק מתחת לעיניים ועל העפעפיים).
        <br><br>
        <h5> בצעו פעילות גופנית</h5>
        פעילות גופנית מפחיתה סיכון לבעיות עיניים הנובעות מלחץ דם גבוה.
        <br><br>
        <h5> שמרו על העיניים ממסך המחשב</h5>
        על 'נעילת' שרירי העיניים שמעתם? לאחר שעתיים של עבודה מול מסך תנו לעיניים לנוח במשך 15 דקות על ידי הסטת המבט
        מהמסך ובהייה לכיוון אחר. מומלץ להשתמש במשקפיים מיוחדים לעבודה מול מסך. <br><br>
    </div>
</div>
