<div class="heading">
    <h1> 🌷?האם הקרם הזה באמת יצעיר אותי
    </h1>
</div>

<div class="articleContent px-5">
    <div class="articleImg">
        <div class="xl:flex block xl:flex-wrap">
            <div class="column-left">
                <p> תכשירי הקוסמטיקה הפכו לחלק בלתי נפרד מעולמנו, ופרט לזה ששיווקם מפרנס תעשיה שלימה, הרי לפחות חלקם
                    מכיל חומרים
                    העשויים להגן ולשמור על עור הפנים והצוואר. עדיין כדאי לזכור שיש הבדל בין מוצר קוסמטי לבין מוצר רפואי.
                    מה יעיל
                    למה, מה יתרום רטינול ומה חומצות אלפא – הידרוקס
                </p>
            </div>
            <div class="column-right">
                <img class="articleImg" rel="" src="assets/images/skin-care-article.jpg">
            </div>
        </div>

        <h5>רטינואידים ורטינול</h5>
        רטינואידים מסייעים לפתיחת נקבוביות העור, ממריצים ייצור קולאגן ובכך תורמים להפחתת קמטוטים ולמיצוק העור, תורמים
        למניעת נזקי הקרינה האולטרא-סגולית של השמש, מבהירים כתמי עור ומשפרים את מרקם העור. רטינואידים אף עשויים לסייע
        בהעלמת כתמים עוריים טרום-סרטניים.
        רטינואידים בריכוז גבוה הם תרופת מרשם (לא מוצר קוסמטי) אותו רושם רופא עור. המוצר טרטינואין שמכיל ריכוז גבוה של
        רטינואידים אושר על ידי ה- FDA (רשות התרופות האמריקאית) לטיפול בהעלמת קמטים. מעבר לכך, קבוצת החומרים הללו מוצאת
        שימוש בתכשירים רפואיים שנועדו לטיפול באקנה.
        למרות שהתכשירים הקוסמטיים (קרם או סרום) שמכילים רטינואידים בריכוז נמוך (החומר יכונה פעמים רבות רטינול) לא יהיו
        יעילים כמו מוצרים רפואיים, עדיין הם עשויים לתרום לשיפור מראה העור ובפרט לעור שניזוק מקרינת השמש.
        מוצר המשלב רטינול יחד עם חומצות אלפא הידרוקסי או חומצות בטא-הידרוקסי עשוי לשפר את מראה העור (מראה חלק יותר)
        ולהפחית סימני גיל. ובעניין שילובים נבהיר כי המיתוס שאין לערבב תכשירים המכילים רטינואידים עם כאלו המכילים ויטמין
        E הוא נטול בסיס. דווקא השילוב עשוי להיות יותר יעיל בכול הנוגע למראה עור חלק.
        לדעת רופאי עור רבים, תכשירים המכילים רטינואידים צריכים להיות הבסיס של אנטי-אייג'ינג, והדבר תקף הן לגבי גברים והן
        לגבי נשים. את השימוש בתכשירים הללו כדאי להתחיל כבר באמצע שנות העשרים.
        עדיף למרוח את התכשיר לפני השינה. לעיתים, עם תחילת השימוש, עלולים הרטינואידים לגרום ליובש, אדמומיות קלה או קילוף
        עור. מומלץ להתחיל במריחת כמות בגודל של אפונה שלוש-ארבע פעמים בשבוע (אחת ליומיים או אחת לשלושה ימים) ורק לאחר
        תקופת הסתגלות להעלות את תדירות השימוש.
        בעניין זה נעיר כי גם השימוש במוצרים קוסמטיים שמכילים רטינואידים (רטינול) מומלץ בהחלט. הריכוז הנמוך יחסית של
        החומר הפעיל יעבוד יותר בהדרגתיות ובעדינות בהשוואה לתכשיר הרפואי ויגרום לפחות תופעות לוואי.
        <br><br>

        <h5>אלפא-הידרוקסי </h5>
        חומרים נוספים שעשויים לתרום למראה העור ולבריאותו הם חומצות אלפא הידרוקסי. מדובר במשפחה רחבה של חומרים המסייעים
        למיצוק העור, שמירת הלחות, הסרת תאים מתים ושיפור מראה של צלקות אקנה.
        כאשר תכשיר המכיל חומצות אלפא הידרוקסי גורם לגירוי עורי, ניתן להמירו בתכשיר דומה שמכיל חומצות פולי-הידרוקסיות (לא
        בטא-הידרוקסי). כדאי שאנשים בעלי עור רגיש יימנעו משימוש בתכשירים המכילים חומצות אלפא-הידרוקסי, למשל תכשירים
        המכילים חומצה גליקולית. גם במקרה של עור יבש ראוי להפחית את תדירות השימוש במוצרים המכילים חומצות אלפא-הידרוקסי
        ולהשתמש באופן תדיר בקרם לחות
        <br><br>

        <h5> חומרים להבהרת העור והעלמת פיגמנטציה </h5>
        חומצה אזלאית שהיא במקור תרופה לטיפול באקנה תפחית פיגמנטציה ותתרום להבהרת העור, וכך אף הידרוקינון, חומצה סליצילית
        וחומצה קוג'ית (מופקות מפטריות). הידרוקינון נחשב לחומר יעיל מאד בכול הנוגע להעלמת כתמי גיל והוא מופיע הן בתכשירים
        קוסמטיים והן בתכשירים המצריכים מרשם רפואי (בשל ריכוזו הגבוה). לעיתים, לשם העלמת כתמי גיל, גם 'קילוף כימי'
        וטיפולי אור IPL)) או לייזר עשויים לסייע.
        <br><br>

        <h5>מסנני קרינה </h5>
        נדגיש שחובה להקפיד על מריחת מסנני קרינה כאשר משתמשים בתכשירים רפואיים (מרשם או לא) או מוצרים קוסמטיים המשלבים את
        החומרים שהזכרנו.
        <br><br>

        <h5> באיזה גיל כדאי להתחיל עם מה</h5>
        לעולם לא מאוחר להתחיל לטפל בעור הפנים והצוואר וכדאי מאד לאמץ הרגלים ותכשירים שיתאימו לכם כבר מאמצע שנות ה-20, כי
        אז מתחיל העור להזדקן.
        שלושה הרגלי בסיס יסייעו לשמירת עור הפנים הצוואר:
        ניקוי עור הפנים והצוואר - השתמשו בתכשיר עדין לניקוי עור הפנים, מידי בוקר וערב. תכשיר שמנוני יותר לעור יבש ונטול
        שומן או מקציף לעור שמנוני. כאשר מדובר בעור רגיש יש להיוועץ ברופא עור. רחצו את הפנים ואת הצוואר במים פושרים או
        קרים, כי מים חמים יסירו את השימון הטבעי של העור.
        בנוסף יש להסיר באופן תקופתי תאי עור מתים בעזרת מטלית ניקוי או ספוג מתאים, או שימוש בתכשיר ייעודי. המשמעות של
        'באופן תקופתי' לגבי בעלי עור יבש היא פעם בשבוע ולגבי בעלי עור שמן פעם-פעמיים בשבוע. הלוקים באקנה או בעלי עור
        רגיש צריכים להיוועץ ברופא העור כי הסרת תאים מתים עלולה לגרות את העור והרופא יוכל להמליץ על תכשירים מתאימים.
        הספוגים הטבעיים מסוג דלמטה פינה (Dalmata Fina) אמנם אינם זולים, אך בהחלט מומלצים.
        <br><br>

        <h5>כיצד מעלימים עיגולים שחורים מתחת לעיניים? </h5>
        הגורמים להופעת עיגולים שחורים מתחת לעיניים הם רבים. הסיבה יכולה להיות למשל תורשתית או עייפות ומחסור בשינה, או
        שילוב של שניהם.
        הטפול הוא תלוי גורם. טיפולים מסוימים בקרני לייזר או טיפול IPL (קרינת אור) עשויים לסייע במקרה של עור דק ושימוש
        בקרמים מבהירי עור (מכילים הידרוקינון) עשוי להועיל כאשר המקור לבעיה היא פיגמנטציה. לעיתים הזרקת חומרים ממלאי
        קמטים תעלים את העיגולים השחורים ולעיתים הפיתרון הוא פשוט – הקפידו על שינה איכותית בת לפחות 7 שעות.
        <br><br>

        <h5> האם ניתן למצק עור צוואר רפוי בעזרת תכשירים קוסמטיים? </h5>
        במקרים לא קשים של עור רפוי ניתן לשער ששימוש בתכשירים המכילים חומצה היאלורונית, ניאצין-אמיד או הקסאמידין יסייע.
        קילוף כימי ושימוש בנוגדי חמצון יסייעו אולי למראה צעיר יותר אך לא יפתרו את הבעיה וכך גם לגבי שימוש במוצרים מכילי
        קולאגן.
        במקרים קשים יותר טיפול בעזרת קרני לייזר או אף הזרקת בוטוקס עשויים הועיל.
        <br><br>
    </div>
</div>

