<div class="heading">
    <h1> 🌷
        ?איך נפטרים מריח רע מהפה</h1>
</div>

<div class="articleContent px-5">
    <div class="articleImg">
        <div class="xl:flex block xl:flex-wrap">
            <div class="column-left">
                <p>
                    אנשים שומרים מכם מרחק ואתם לא מבינים מה עשיתם? ריח רע מהפה, או בשמו הנעים אפילו פחות "באשת הפה", הוא
                    אחת הסיבות השכיחות לביקור אצל רופא שיניים. לפני שאתם מגלים את עצמכם לאי בודד, יש לנו טיפים קלים
                    לביצוע שיעזרו לכם לטהר את האווירה
                </p>
            </div>
            <div class="column-right">
                <img class="articleImg" rel="" src="assets/images/smell-article.jpg">
            </div>
        </div>
        <br><br>

        <h5> מהו מקור הריח?</h5>
        ברוב המקרים מקורה של באשת הפה הוא מהפה עצמו. מרבית ריחות הפה נובעים מפירוק של חלבונים על ידי חיידקי הפה. בפה
        ממוצע קיימים מאות זנים של חיידקים שונים, כאשר כמה עשרות מהם נמצאו בבדיקות מעבדה כגורמים לריחות רעים. עוצמת הריח
        משתנה במשך היום, ומושפעת ממגוון גורמים, כמו תרופות, השמנה, עישון וצריכת אלכוהול. אנחנו יודעים שהרבה מחלות
        סיסטמיות קשורות לחיידקים בפה ולמחלות שאותם חיידקים גורמים. לדוגמה, אותם החיידקים הגורמים לדלקות חניכיים יכולים
        לגרום לפגיעה במסתמי הלב, לטרשת עורקים וגם למחלת לב הנגרמת מפגיעה בעורקים המזינים את שריר הלב עצמו. יחד עם זאת,
        חיידקים הגורמים לריח רע מהפה לא בהכרח יגרמו לדלקת חניכיים או לעששת, והאבחנה של באשת הפה נעשית בנפרד מאבחנה של
        מחלת העששת או מחלת חניכיים.<br><br>

        המקור השני בשכיחותו לריח הוא האף. במקרים אלו, הריח הנובע מהנחיריים הוא עז ונבדל מהריח שמקורו בפה. באשת שמקורה
        בחלל האף עשויה לנבוע מדלקת בסינוסי האף ("סינוסיטיס") או מזיהום הנובע מגוף זר בחלל האף.<br><br>

        קיימות סיבות נוספות לריח פה, רובן נדירות. בניגוד לדעה הרווחת, הקיבה היא מקור נדיר ביותר ליצירת ריח פה.<br><br>
        <br><br>

        <h5> כיצד אדע אם יש לי ריח רע? </h5>
        לכל אחד ואחת מאיתנו יכול להיות ריח לא נעים מהפה, אך לרוב הריח נעלם לאחר אכילה, צחצוח שיניים, ניקוי (צחצוח) הלשון
        יחד עם צחצוח השיניים והחניכיים, שימוש בחוט דנטלי ושטיפת הפה.<br><br>


        טעם רע בפה (טעם מתכתי, חמוץ, צואתי וכדומה) אינו מעיד על קיום ריח פה, למרות ההרגשה הלא נעימה.<br><br>


        בשל קשיים באבחנה עצמית של ריח הפה, הדרך האמינה והפשוטה ביותר לדעת אם אנו סובלים מריח פה היא לפנות לחבר/ה קרובים
        או בן משפחה בבקשת עזרה באבחון. בקשו מאותו אדם להריח אתכם ממרחק קרוב (כעשרה סנטימטר) בזמן שאתם מדברים. בנוסף ניתן
        ללקק את האמה באזור מפרק היד ולהריח את המקום.<br><br>


        בשל השינויים בעוצמת ריח הפה לאורך היום, ייתכן שתצטרכו לבצע כמה בדיקות במשך היום כדי לוודא שמדובר בבעיה כרונית.
        <br><br>

        <h5> מה יכול לעזור? </h5>
        <h6>ארוחת בוקר </h6>
        ארוחת בוקר שמכילה מזון מחוספס (סלט ירקות, לחם קשה, גרנולה וכדומה) מסייעת בניקוי חלל הפה ומחדשת את זרימת הרוק.
        <br><br>
        <h6> ניקוי עדין של גב הלשון </h6>
        פעמיים ביום, לאחר צחצוח השיניים, מומלץ להשתמש במנקה לשון ייעודי להסרת השכבה שמצטברת על הלשון ומכילה רובד חיידקי,
        שאריות מזון וריר. <br><br>
        <h6> לעיסת מסטיק </h6>
        יובש של הפה נוטה להגביר ריח פה, ולכן לעיסת מסטיק ללא סוכר יכולה לעזור בהגברת הפרשת הרוק ובכך להביא לרמה נמוכה
        יותר של ריח פה. לעיסת מסטיק יכולה לעזור במיוחד כאשר הפה יבש או כאשר אדם אינו יכול לצחצח שיניים לאחר ארוחות,
        בייחוד אלו העשירות בחלבונים. הרוק המופרש מסייע בשטיפת רובד החיידקים בפה, הוא בעל תכונות אנטי־בקטריאליות ומעודד
        פעילות מכנית שמסייעת בניקיון הפה. <br><br>
        <h6> תבלינים </h6>
        זרעי שומר, מקלות קינמון, שרף צמח אלת המסטיק (הגדל ביוון) או פטרוזיליה טרייה הם תרופות עממיות ידועות להפחתת ריח
        פה ולעיסתם אכן יכולה לסייע.
        <br><br>
        <h6> שטיפת פה </h6>
        שטיפות פה לפני השינה מפחיתות את ריח הפה למשך שעות. שימו לב: חלק משטיפות הפה מכילות חומרים פעילים שנסתרים על ידי
        דטרגנטים הקיימים במרבית משחות השיניים, ולכן מומלץ לא לגרגר מיד לאחר צחצוח השיניים.
        <br><br>
        <h6> היגיינת הפה </h6>
        צחצוח שיניים יסודי, שימוש בחוט דנטלי, ואביזרי ניקוי נוספים בהתאם להמלצת השיננית או רופא השיניים, והקפדה על
        ביקורים תקופתיים סדירים אצל רופא השיניים והשיננית.
        <br><br>

        שימוש בחוט דנטלי או אביזרים מיוחדים אחרים הוא בעל חשיבות מיוחדת בהסרת שאריות מזון ורובד חיידקי מהאזורים שבין
        השיניים, בייחוד בקו החניכיים.
        <br><br>

        שיניים תותבות יש לנקות היטב מדי יום ולהשרות במשך הלילה בתמיסה אנטיבקטריאלית (מלבד מקרים שבהם המלצתו של רופא
        השיניים שונה).
        <br><br>
        <h6> שתייה מרובה </h6>
        שתיית מספר כוסות מים במשך היום מסייעת למנוע יובש פה, שהוא גורם סיכון לריח הפה. הוספת מעט מיץ לימון למי השתייה
        תרענן ותסייע גם היא.
        <br><br>
    </div>
</div>

