<div *ngIf="!isSmallScreen" class="heading flex align-middle justify-center">
    <img src="assets/images/logo.png" class="logoImg h-40" alt="">
    <h1>אודות</h1>
</div>
<div *ngIf="isSmallScreen" class="heading flex align-middle justify-center">
    <h1>אודות</h1>
    <img src="assets/images/logo.png" class="logoImg h-40" alt="">
</div>

<section class="about">
    <div class="content">
        <h2>רק בריאות-פשוט להיות בריא</h2>
        <div class="paragraph-container">
            <p>
                האתר שלנו מספק מידע בריאותי עדכני ורלוונטי שמקורו ישירות מ-health.gov באמצעות שילוב API.
            </p>
            <br>
            <p>
                כמו כן, באתר ניתן למצוא מאמרים בנושא בריאות הגוף והנפש הלקוחים מאתרים כללית, מכבי, ולאומית. </p>
            <br>
            <p>
                אנו מבינים את החשיבות של להישאר מעודכנים בחדשות ובהמלצות הבריאות האחרונות, לפיכך, האתר שלנו שואף להקל
                עליך לגשת למידע זה בקצות אצבעותיך.
            </p>
            <br>
            <br>
            <p>
                קישור לאתר
                <a href="https://health.gov/" class="healthLink">health.gov</a>
            </p>
        </div>
    </div>
</section>

<section class="about">
    <div class="content">
        <div class="header-and-image">
            <h2>קצת על יוצרת האתר-סתוית מימוני</h2>
            <img src="assets/images/stavit10.jpeg" class="stavitProfile" alt="">
            <div class="paragraph-container pLine">
                <p>
                    סתוית היא אחות שהפכה-מתכנתת שמביאה סט ייחודי של מיומנויות וחוויות לעולם הקידוד. אהבתה לתכנות ניצתה
                    במהלך
                    לימודיה בבית הספר לאחיות, והיא מצאה במהירות את התשוקה שלה בתחום. היא אדם ממוקד ובעל מוטיבציה שתמיד
                    להוט
                    ללמוד מיומנויות חדשות ולקחת על עצמה אתגרים חדשים. האופי החרוץ והשקדן שלה מאפשר לה להתמודד עם בעיות
                    תכנות
                    מורכבות בקלות ולספק עבודה איכותית העולה על הציפיות.
                </p>
                <p>
                    לאורך הקריירה שלה, סתוית חידדה את כישורי ניתוח ופתרון הבעיות שלה, מה שהופך אותה לנכס יקר מפז בכל
                    צוות
                    מקצועי. יש לה הבנה עמוקה של מערכות מורכבות, המאפשרת לה לפתח פתרונות חדשניים העונים על הצרכים של בעלי
                    עניין מגוונים.
                </p>
                <p>
                    היכולת של סתוית לעבוד בשיתוף פעולה עם לקוחות ועמיתים נרכשה ברבות הנסיון עם מטופלים ,משפחותיהם
                    והצוותים
                    במקצוע
                    הבריאות.
                    עם הידע והמומחיות המשולבים שלה בסיעוד ובתכנות, סתוית מביאה גישה ממוקדת באדם לכל פרויקט. התשוקה שלה
                    לתכנות יחד עם מוסר העבודה החזק והנחישות שלה להצליח הופכים אותה למועמדת מצוינת לכל תפקיד תכנותי.
                </p>            
            </div>
        </div>
    </div>
</section>