<div class="p-3 w-full bg-[#ededeb]">
    <div class="flex align-middle justify-center">
        <img src="assets/images/logo.png" class="w-14 xl:block hidden" alt="">
        <div class="flex-col ml-5">
            <h6 class="whitespace-nowrap pb-2">Created by Stavit Maimoni Full stack developer &nbsp;</h6>
            <div class="flex align-middle justify-center">
                <a href="https://github.com/StavitMaimoni"><img src="assets/images/gitHub-gray.png" class="w-9 xl:mr-8" alt="">
                </a>
                <a href="https://www.linkedin.com/in/stavit-maimoni-5b587623a/StavitMaimoni">&nbsp;
                    <img src="assets/images/linkedin.png" class="w-9 xl:-mt-6 xl:mr-12 -mt-10 mr-5 md:-mt-6" alt="">
                </a>
            </div>
        </div>
    </div>
    <h6 class="flex align-middle justify-center pt-2"> All rights reserved ©</h6>
</div>